<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <%= link_to 'Contacts', contacts_path, class: 'btn btn-primary btn-lg' %>
    <%= link_to 'Address Books', address_books_path, class: 'btn btn-info btn-lg' %>
  </p>
</div>