<%= simple_form_for(@contact) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :phone_number %>
    <%= f.input :eeid, label: 'Estonian ID' %>
  </div>

    <div class="form-inputs">
      <span class="input-group-addon">
      <%= f.association :address_books, as: :check_boxes, label_method: :name, value_method: :id %>
      </span>
    </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
