<div class="row">
  <div class="col">
    <p id="notice"><%= notice %></p>
    <h1 class="text-center">Contacts</h1>
  </div>
  <hr>
</div>
<div class="row">
  <div class="col-6">
    <%= form_tag contacts_path, method: :get, controller: :contacts, action: :index, class: 'form-inline' do %>
        <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'search for contact...' %>
        <%= submit_tag 'Find', name: nil, class: 'btn btn-success' %>
    <% end %>
  </div>
  <div class="col-6">
    <%= link_to 'New Contact', new_contact_path, class: 'btn btn-block btn-success' %>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table table-striped table-striped">
      <thead class="thead-inverse">
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <!--<th>Phone number</th>-->
        <!--<th>Eeid</th>-->
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.first_name %></td>
            <td><%= contact.last_name %></td>
            <!--<td><%= contact.phone_number %></td>-->
            <!--<td><%= contact.eeid %></td>-->
            <td><%= button_to 'Show', contact, method: :get, class: 'btn btn-info' %></td>
            <!--<td><%= button_to 'Edit', edit_contact_path(contact), method: :get, class: 'btn btn-success' %></td>-->
            <!--<td><%= button_to 'Destroy', contact, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>-->
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= will_paginate @contacts %>
  </div>
</div>
