<div class="row">
  <div class="col">
    <p id="notice"><%= notice %></p>

    <div class="card mb-3">
      <div class="card-header">
        <%= @contact.first_name %>  <%= @contact.last_name %>
      </div>
      <br>
      <%= image_tag 'user-icon', size: '300x300', class: 'card-img-top' %>
      <!--<img class="card-img-top" src="..." alt="Card image cap">-->
      <div class="card-body">
        <h4 class="card-title"> <strong>Name: </strong> <%= @contact.first_name %>  <%= @contact.last_name %></h4>
        <p class="card-text">
          <strong>Phone number:</strong>
          <%= @contact.phone_number %>
        </p>

        <p class="card-text">
          <strong>Estonian ID:</strong>
          <%= @contact.eeid %>
        </p>

        <p class="card-text">
          <strong>Address Books: </strong>  <%= @groups.pluck(:name).join(', ')  %>
        </p>

        <!--<button type="button" class="btn btn-primary btn-lg">Large button</button>-->
        <!--<button type="button" class="btn btn-secondary btn-lg">Large button</button>-->

        <%= button_to 'Back', contacts_path, method: :get, class: 'btn btn-lg btn-outline-secondary btn-block' %>
        <%= button_to 'Edit', edit_contact_path(@contact), method: :get, class: 'btn btn-outline-primary btn-lg btn-block' %>
        <%= button_to 'Destroy', @contact, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-lg btn-block' %>

      </div>
      <div class="card-footer text-muted">
        <p class="card-text"><small class="text-muted"> Updated <%=  time_ago_in_words @contact.updated_at  %></small></p>
      </div>
    </div>
  </div>
</div>


