<%= simple_form_for(@address_book) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>
    <!--<div class="from-group">-->
      <!--<%= f.association :contacts, label_method: :first_name, value_method: :id  %>-->
    <!--</div>-->

  <div class="form-actions">
    <%= f.button :submit, input_html:{class:'btn btn-success'}%>
  </div>
<% end %>
