<div class="row">
  <div class="col">
    <h1>Editing Address Book</h1>

    <%= render 'form', address_book: @address_book %>

    <%= link_to 'Show', @address_book %> |
    <%= link_to 'Back', address_books_path %>
  </div>
</div>
