<div class="row">
  <div class="col">
    <p id="notice" class="alert-success"><%= notice %></p>

    <h1 class="text-center well">Address Books</h1>
    <hr>

    <%= link_to 'New Address Book', new_address_book_path, class: 'btn btn-info float-left' %>

    <%= link_to 'Impor Address Book', '#', class: 'btn btn-primary float-right', data:{ toggle: 'modal', target: '#importModal' }  %>



    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <!--<th colspan="3"></th>-->
      </tr>
      </thead>
      <tbody>
      <% @address_books.each do |address_book| %>
          <tr>
            <td>  <%= address_book.name %></td>
            <td><%= link_to 'Show', address_book %></td>
            <td> <%= link_to 'Download', address_book_path(address_book, format: 'csv') %> </td>
            <td><%= link_to 'Destroy', address_book, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-outline-danger' %></td>
            <!--<td><%= link_to 'Edit', edit_address_book_path(address_book) %></td>-->
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Import Address Book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag import_address_books_path, multipart: true do %>
            <%= file_field_tag :file, class: 'form-control float-left', accept: 'text/csv' %>
            <%= submit_tag "Import", class: 'btn btn-success float-right' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
