<div class="row">
  <div class="col">
    <p id="notice"><%= notice %></p>
    <div class="card text-center">
      <div class="card-header">
        <h2><%= @address_book.name %></h2>
        <%= link_to 'Back', address_books_path, class: 'btn btn-secondary float-left' %>
        <%= link_to 'Delete', @address_book,method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger float-right' %>
        <%= link_to 'Edit', edit_address_book_path(@address_book), class: 'btn btn-info float-right' %>

      </div>
      <div class="card-body">
        <!--<h4 class="card-title"><%= @address_book.name %></h4>-->
        <p class="card-text">List of contacts in this address book.</p>
      </div>

      <ul class="list-group list-group-flush">
        <% @contacts.each do |contact| %>
            <li class="list-group-item"> <strong> <%= contact.first_name %> - <%= contact.last_name %> </strong>  <%= link_to '->', contact_url(contact) %> </li>
        <% end %>
      </ul>

      <div class="card-footer text-muted">
        <%= @address_book.name %>
      </div>
    </div>
  </div>
</div>
