<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <%= link_to "Tik'vaa", root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%=is_active('contacts')%> ">
        <%= link_to 'Contacts', contacts_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%=is_active('address_books')%>">
        <%= link_to 'Address Books', address_books_path, class: 'nav-link' %>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <%= form_tag contacts_path, method: :get, controller: :contacts, action: :index do %>
          <%=  text_field_tag :search, params[:search], class: 'form-control mr-sm-2', placeholder: 'search for contact...' %>
          <%= submit_tag 'Search', name: nil, class: 'btn btn-outline-success my-2 my-sm-0'  %>
      <% end %>
    </div>
  </div>
</nav>