<!DOCTYPE html>
<html>
<head>
  <title>Address Book App</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<% unless current_page? root_path  %>
    <%= render 'layouts/navs' %>
<% end %>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
